extends layout

block header
	h1= title
	div.created_at= article.created_at.toDateString()

block content
	div.article
		div.content.well= article.body
	div.comments
		div.title
			h4 Comments
		- each comment in article.comments
			div.row
				div.span2.column
					div.author= comment.person
				div.comment.span6.column= comment.comment
		div.leave-comment.span8
			div.title
				h4 leave your comment
			form(method="post", action="/blog/addComment", class='form-horizontal')
				input( type="hidden", name="_id", value=article._id.toHexString())
				div.control-group
					label(for='addCommentPerson', class='control-label') Author:
					div.controls
						input( type="text", name="person", id="addCommentPerson")
				div.control-group
					label(for='addCommentComment', class='control-label') Comment:
					div.controls
						textarea( name="comment", rows=3, id="addCommentComment")
				div#editArticleSubmit.form-action
					input(type="submit", value="Send", class="btn btn-primary pull-right")